<!doctype html>
<html ng-app="todoModule">
  <head>
    <title>TODO</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-controller="todoController">
    <div id="corkboard">
        <div id="stickynote">
        <h1>To Do List</h1>
        <p>Search: <input type="text" ng-model="choreFilter" placeholder="Filter" /></p>
        <ul>
          <li ng-repeat="chore in chores | filter: choreFilter track by $index"><button ng-click="removeChore(chore)">x</button>{{chore}}</li>
        </ul>
        <form ng-submit="onclick(choreToAdd)">
          <input ng-model="choreToAdd" type="text" placeholder="New chore"/>
          <input id="button" type="submit" value="Add"/>
          <p>Click the <button>x</button> to remove a completed task.</p>
        </form>
      </div>
    </div>
  </body>
</html>
