<!doctype html>
<html ng-app="todoModule">
  <head>
    <title>TODO</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-controller="todoController">
    <h1>To Do List</h1>
    <input type="text" ng-model="choreFilter" placeholder="Filter" /> <!--filter-->
    <ul>
      <li ng-repeat="chore in chores | filter: choreFilter track by $index"><button ng-click="removeChore(chore)">X</button>{{chore}}</li>
    </ul>
    <input ng-model="choreToAdd" type="text" placeholder="New chore"/><input type="submit" value="Add" ng-click="onclick(choreToAdd)"/><!--add things ng-click=function()-->
  </body>
</html>
